.statistics__main-content{
    display: flex;
    align-self: center;
    width: 90%;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.statistics__doughnut-content, .statistics__bar-content{
    width: 100%;
    height: 48%;
    background-color: $info-background-color;
    padding: 10px;
    border-radius: 20px;
}

.statistics__bar-content{
    margin-top: 10px;
}